.main{
	margin: 0 auto;
	background-image: url("background.png");
	background-repeat: repeat;
	min-width: 800px;
	background-color: #FFD700;
}


.AllQuestions{
    margin-top: 2.5%;
    margin-left: 10%;
    margin-bottom: 2.5%;
}

.goback{	
	background-image: url("back2.png");  
    background-repeat: no-repeat;
	background-size: 100%;
	color: white;  
	
    outline: none;
	border-radius: 50%;
	cursor: pointer;
  
	margin-top: 5px;
	margin-left: 1%;
   
    height: 48px;
	width: 48px;
}

.logoutb{
	background-image: url("logout3.png");
    background-repeat: no-repeat;
	background-size: 100%;
	background-color: white;
	
	cursor: pointer;
	border-radius: 50%;
	outline: none;
	
	height: 48px;
	width: 48px;
	
	margin-top: -30px;
	margin-left: 95%;
}

#hello{
	color: black;
	font-size: 120%;
	width: 120%;
}

/*RESOLUTIONS RESPONSIVE*/
.N_Text{
	width: 30%;
}

.Mc_Text{
	width: 30%;
}

/*
@media only screen and (max-width: 500px) {
	div{width: 40%;}
	textarea{width:30%;}
}

@media only screen and (max-width: 1000px) {
	div{width: 65%;}
	textarea{width:45%;}
}
